sudo: required
dist: xenial

language: node_js
node_js: 8

os:
  - linux

install:
  - npm install lix@15.54 -g
  - lix download

script:
  - lix run travix interp
  # - lix run travix neko
  # - lix run travix node
  # - lix run travix python
  # - lix run travix java
